<h3>{{formState.date}}</h3>
<div class="add-examens-wizard">
        <section>
            <div class="wizard">
                <div class="wizard-inner">
                    <div class="connecting-line"></div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab" title="Step 1">
                                <span class="round-tab">
                                <i class="glyphicon glyphicon-folder-open"></i>
                            </span>
                            </a>
                        </li>
                        <li role="presentation" class="disabled">
                            <a href="#step2" data-toggle="tab" aria-controls="step2" role="tab" title="Step 2">
                                <span class="round-tab">
                                <i class="glyphicon glyphicon-pencil"></i>
                            </span>
                            </a>
                        </li>
                        <li role="presentation" class="disabled">
                            <a href="#step3" data-toggle="tab" aria-controls="step3" role="tab" title="Step 3">
                                <span class="round-tab">
                                <i class="glyphicon glyphicon-picture"></i>
                            </span>
                            </a>
                        </li>
                        <li role="presentation" class="disabled">
                            <a href="#complete" data-toggle="tab" aria-controls="complete" role="tab" title="Complete">
                                <span class="round-tab">
                                <i class="glyphicon glyphicon-ok"></i>
                            </span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="tab-content">
                    <div class="tab-pane active" role="tabpanel" id="step1">
                        <div class="jumbotron">
                            <h3>Шаг первый. Выберете тип экзамена.</h3>
                        </div>
                        <div class="col-xs-12 well well-lg" style="text-align: center">
                            <div class="col-sm-6">
                                <label for="personalType" style="display: inherit; cursor: pointer">
                                    <div class="thumbnail">
                                        <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRg0MZWDI33eZMjtkz58wPA-6EhBtfzIsTAchiWVjgQwKKbyObA" width="150">
                                        <div class="caption">
                                            <p>Персональный</p>
                                            <p style="font-size: small">Каждый студент сдает экзамен отдельно, в назначенное ему время.</p>
                                        </div>
                                    </div>
                                </label>
                            </div>
                            <div class="col-sm-6">
                                <label for="collectiveType" style="display: inherit; cursor: pointer">
                                    <div class="thumbnail">
                                        <img src="https://cdn2.iconfinder.com/data/icons/users-2/512/User_6-512.png" width="150">
                                        <div class="caption">
                                            <p>Коллективный</p>
                                            <p style="font-size: small">Общий экзамен для группы студентов в аудитории. Одно время для всех.</p>
                                        </div>
                                    </div>
                                </label>
                            </div>
                            <input style="display: none" id="personalType" type="radio" name="selectType" (change)="changeExamenType('personal')">
                            <input style="display: none" id="collectiveType" type="radio" name="selectType" (change)="changeExamenType('collective')">
                        </div>
                        <ul class="list-inline pull-right" [hidden]="!formState.type.isSet">
                            <li><button type="button" class="btn btn-primary next-step">Далее</button></li>
                        </ul>                        
                    </div>
                    <div class="tab-pane" role="tabpanel" id="step2">
                        <div class="jumbotron">
                            <h3>Шаг второй 2. Укажите время проведения.</h3>
                        </div>
                        <div class="col-xs-12 well well-lg" style="text-align: center">
                            <div *ngIf = "formState.type.value == 'personal'">
                                <div class="col-sm-4">
                                    <div class="thumbnail">
                                        <div class="caption">
                                            <p>Начало экзаменов:</p>
                                            <timepicker [defaultHour]='17' 
                                                        [defaultMinute]='0' 
                                                        [onlyHours]="true" 
                                                        (onChangeTimePicker)="startTimeChange($event)">
                                            </timepicker>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="thumbnail">
                                        <div class="caption">
                                            <p>Окончание экзаменов</p>
                                            <timepicker #endTimePicker
                                                        [defaultHour]='22' 
                                                        [defaultMinute]='0' 
                                                        [onlyHours]="true" 
                                                        [hourMinLimit] = 'formState.startTime.getHours()'
                                                        (onChangeTimePicker)="endTimeChange($event)">
                                            </timepicker>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="thumbnail">
                                        <div class="caption">
                                            <p>Проверьте</p>
                                            <p style="font-size: medium">
                                                Время: {{ formState.startTime.getHours()}}:{{ formatTimeDigit(formState.startTime.getMinutes())}} — {{formState.endTime.getHours()}}:{{formatTimeDigit(formState.endTime.getMinutes())}}
                                            </p>
                                            <p style="font-size: medium">Продолжительность: <strong>{{ diffTime() / 1000 / 60 }} мин.</strong></p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div *ngIf = "formState.type.value == 'collective'">
                                <div class="col-sm-4">
                                    <div class="thumbnail">
                                        <div class="caption">
                                            <p>Начало экзамена:</p>
                                            <timepicker [defaultHour]='17' [defaultMinute]='0' [onlyHours]="false" (onChangeTimePicker)="startTimeChange($event)"></timepicker>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="thumbnail">
                                        <div class="caption">
                                            <p>Окончание экзамена</p>
                                            <timepicker [defaultHour]='19' [defaultMinute]='0' [onlyHours]="false" (onChangeTimePicker)="endTimeChange($event)"></timepicker>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="thumbnail">
                                        <div class="caption">
                                            <p>Проверьте</p>
                                            <p style="font-size: medium">
                                                Время: {{ formState.startTime.getHours()}}:{{ formatTimeDigit(formState.startTime.getMinutes())}} — {{formState.endTime.getHours()}}:{{formatTimeDigit(formState.endTime.getMinutes())}}
                                            </p>
                                            <p style="font-size: medium">Продолжительность: <strong>{{ diffTime() / 1000 / 60 }} мин.</strong></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <ul class="list-inline pull-right">
                            <li><button type="button" class="btn btn-default prev-step">Назад</button></li>
                            <li><button type="button" class="btn btn-primary next-step">Далее</button></li>
                        </ul>
                    </div>
                    <div class="tab-pane" role="tabpanel" id="step3">
                        <div class="jumbotron" *ngIf = "formState.type.value == 'personal'">
                            <h3>Шаг третий. Разбить период на экзамены.</h3>
                        </div>
                        <div class="jumbotron" *ngIf = "formState.type.value == 'collective'">
                            <h3>Шаг третий. Укажите количество студентов в аудитории.</h3>
                        </div>

                        <div *ngIf = "formState.type.value == 'personal'">
                            <div class="col-xs-12 well well-lg" style="text-align: center">
                                <h4>Определен промежуток в {{ diffTime() / 1000 / 60 / 60 }} ч. Разбить на: </h4><br/>
                                <div class="col-md-6 col-md-offset-3 col-xs-12">
                                    <div class="input-group">
                                        <div class="input-group-btn">
                                            <button type="button" class="btn btn-info" (click) = "changeDivideByButton(10); hours.value=''">10 мин.</button>
                                            <button type="button" class="btn btn-info" (click) = "changeDivideByButton(15); hours.value=''">15 мин.</button>
                                            <button type="button" class="btn btn-info" (click) = "changeDivideByButton(20); hours.value=''">20 мин.</button>
                                            <button type="button" class="btn btn-info" (click) = "changeDivideByButton(30); hours.value=''">30 мин.</button>                                        
                                        </div>
                                        <input #hours type="text" class="form-control" placeholder="Свой интервал" (input) = "changeDivideByInput($event.target.value)">
                                        <span class="input-group-addon">
                                            <input #hvostik title="Добавлять выходящий за пределы последний экзамен" type="checkbox" (change) = "changeDivideByCheckBox(hvostik.checked)">
                                        </span>
                                    </div>
                                </div>

                                <div class="col-xs-12" *ngIf = "divided.length > 0">
                                    <br/>
                                <h4>Снимите активность с не нужных</h4>
                                <!--<div class="row">-->
                                <div class="col-xs-12" style="text-align: left">
                                    <div class="thumbnail" [class.deactive] ="!item.isSelected" *ngFor = "let item of divided" style="float: left; margin: 4px">
                                    <div class="caption">
                                        <ul class="list-group">
                                            <li class="list-group-item">
                                                <span class="glyphicon glyphicon glyphicon-time" aria-hidden="true"></span>
                                                {{item.startTime.getHours()}}:{{formatTimeDigit(item.startTime.getMinutes())}} - 
                                                {{item.endTime.getHours()}}:{{formatTimeDigit(item.endTime.getMinutes())}}
                                            </li>
                                            <li class="list-group-item">
                                                <!--<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>-->
                                                <input type="checkbox" checked="item.isSelected" (change) = "item.isSelected = !item.isSelected"/> Активность
                                            </li>
                                        </ul>
                                    </div>
                                    </div>
                                </div>
                            </div>
                                <!--<div *ngFor = "let item of divided" style="padding: 7px; margin: 0 0 10px 0; background-color: #4df">{{item.startTime}}</div>-->
                            </div>
                        </div>

                        <div *ngIf = "formState.type.value == 'collective'">
                            <div class="col-xs-12 well well-lg" style="text-align: center">
                                <div class="col-md-6 col-md-offset-3 col-xs-12">
                                    <div class="thumbnail">
                                        <div class="caption">
                                            <p>Выбрано мест: {{formState.studentCount}}</p>
                                            <slider [min]="1" [max]="100" [value]="90" (onChangeSlider)="changeStudentCount($event)"></slider>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <ul class="list-inline pull-right">
                            <li><button type="button" class="btn btn-default prev-step">Назад</button></li>
                            <!--<li><button type="button" class="btn btn-default next-step">Пропустить</button></li>-->
                            <li><button type="button" class="btn btn-primary btn-info-full next-step">Далее</button></li>
                        </ul>
                    </div>
                    <div class="tab-pane" role="tabpanel" id="complete">
                        <div class="jumbotron">
                            <h3>Шаг четвертый. Проверьте, все ли правильно, и сохраните результат.</h3>
                        </div>
                        <div class="col-xs-12 well well-lg" style="text-align: center">

                            <div class="col-md-8 col-xs-12"  *ngIf = "formState.type.value == 'collective'" >
                                <div class="thumbnail">
                                    <div class="caption">
                                        <p>Будет создан экзамен:</p>
                                        <p>Начало: {{formState.startTime.getHours()}}:{{formatTimeDigit(formState.startTime.getMinutes())}}</p>
                                        <p>Окончание: {{formState.endTime.getHours()}}:{{formatTimeDigit(formState.endTime.getMinutes())}}</p>
                                        <br/>
                                        <p>Студентов: {{formState.studentCount}}</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-8 col-xs-12"  *ngIf = "formState.type.value == 'personal'" >
                                <div class="thumbnail">
                                    <div class="caption">
                                        <p>Будут созданы экзамены:</p>
                                        <p>Начало: {{formState.startTime.getHours()}}:{{formatTimeDigit(formState.startTime.getMinutes())}}</p>
                                        <p>Окончание: {{formState.endTime.getHours()}}:{{formatTimeDigit(formState.endTime.getMinutes())}}</p>
                                        <br/>
                                        <p>Студентов: {{resultPersonalCount().length}}</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4 col-xs-12">
                                <div class="thumbnail">
                                    <div class="caption">
                                        <button type="button" class="btn btn-primary btn-large" (click)="addExamen();">Сохранить</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </section>
</div>