<div class="jumbotron text-center">
    <div class="row">
        <div class="col-sm-8">
            <h2>{{discipline?.title}}</h2>
            <p>Планирование экзаменов</p>
        </div>
        <div class="col-sm-4">
            <div class="btn-group-vertical" role="group">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">
                        <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                    </span>
                    <input  type="text" 
                            id="selectMonts"
                            class="datepicker-here form-control"
                            data-min-view="months"
                            data-view="months"
                            data-date-format="MM yyyy"
                            placeholder="Загрузить на выбор..." />

                    <input  style="display: none"
                            type="text"
                            id="dataPickerAlternate"
                            #inputMonth/>

                    <span   class="input-group-btn">
                        <button class="btn btn-default"
                                type="button"
                                (click) = "selectAnyMonth(inputMonth.value)">Загрузить</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="discipline != undefined">
    <month  *ngFor="let monthTimestamp of getMonthLoaded() | ObjToMonthPipe" 
            [examens]="getExamens() | examensForMonth : monthTimestamp"
            [timestamp] = "monthTimestamp"
            [disciplineID] = "discipline.id">
    </month>
</div>