
<div class="jumbotron text-center">
    <h2>{{discipline?.title}}</h2>
    <p>Планирование экзаменов</p>
</div>

<button (click) = "loadNextOrPreviusMonth(false)"> Загрузить предыдущий месяц </button>
<button (click) = "loadNextOrPreviusMonth(true)"> Загрузить следующий месяц </button>

<input type="text" 
    id = "selectMonts"
    class="datepicker-here"
    data-min-view="months"
    data-view="months"
    data-date-format="MM yyyy" 
    />
<input style="display: none" type="text" id="dataPickerAlternate" #inputMonth/>

  <button (click) = "selectAnyMonth(inputMonth.value)">Загрузить</button>

<button (click) = "ttt()"> adsdsd </button>


<div *ngIf="discipline != undefined" >
    <month  *ngFor="let month of getExamens() | monthFromExamens" 
            [examens] = "getExamens() | examensForMonth : month">
    </month>
</div>