
<div class="jumbotron text-center">
    <h2>{{discipline?.title}}</h2>
    <p>Планирование экзаменов</p>
</div>

<button (click) = "getMinMonth()"> Загрузить предыдущий месяц </button>
<button (click) = "getMaxMonth()"> Загрузить слкдующий месяц </button>

<button (click) = "rrr()"> adsdsd </button>
<button (click) = "ttt()"> adsdsd </button>


<div *ngIf="discipline != undefined" >
    <month  *ngFor="let month of getExamens() | monthFromExamens" 
            [examens] = "getExamens() | examensForMonth : month">
    </month>
</div>