<!--<div class="dayOfCalendar">
    <span *ngFor="let examen of examens">{{examen.id}}</span>
</div>-->

<div *ngIf="examens.length" class="dayOfCalendar">
{{percentInvite()}}%
<div class="day-chart">
  <span *ngIf="!isFuture()" class="donut-chart" >
        {{ isNeud() }},
        {{ isThre() }},
        {{ isFour() }},
        {{ isFive() }},
        {{ isNone() }}
 </span>
  <span *ngIf="isFuture()" class="pie-chart" 
        data-peity='{ "fill": ["green", "#eeeeee"],  "innerRadius": 22, "radius": 28 }'>{{invitedString()}}</span>
</div>
<!--<button (click) = "ddd()">ss</button>-->
</div>
