
<div class="panel panel-default">
  <div class="panel-heading">
    <h4>{{getMonthName()}}</h4>
  </div>
  <div class="panel-body">
    <table class="table table-bordered">
    <!--<caption><h4 class="monthName">{{getMonthName()}}</h4></caption>-->
    <tr>
        <th>Пн.</th>
        <th>Вт</th>
        <th>Ср.</th>
        <th>Чт.</th>
        <th>Пт.</th>
        <th>Сб.</th>
        <th>Вс.</th>
    </tr>
    <tr *ngFor = "let week of grid.weeks">
        <td *ngFor = "let day of week.days">
            <div style="position: relative" [class.inMonth] = "day.inmonth" [class.outOfMonth] = "!day.inmonth">
                <div style="position: absolute; top: -3px; left: -3px; border-radius: 50%; border: 2px solid #4fa; width: 30px; height: 30px; text-align: center; line-height: 30px;">
                    {{day.date.getDate()}}
                </div>
                <div *ngIf="(examens | examensForDay:day.date).length > 0">
                        <dayOfCalendar [examens]="examens | examensForDay:day.date"></dayOfCalendar>
                </div>                                
            </div>
        </td>
    </tr>
        <tfoot>
            <tr>
                <td colspan="7">Всего запланированных дней: {{examens.length}}</td>
            </tr>
        </tfoot>
    </table>
  </div>
</div>



