.time-text{
    font-size: 32pt;
    font-stretch: condensed;
    color: cornflowerblue;
}


input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 7px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: rgba(215, 215, 215, 0.54);
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0.9px 0.9px 1px #000031, 0px 0px 0.9px #00004b;
  border: 1.8px solid #00001e;
  height: 19px;
  width: 19px;
  border-radius: 15px;
  background: #ed4042;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7.2px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: rgba(228, 228, 228, 0.54);
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: rgba(215, 215, 215, 0.54);
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0.9px 0.9px 1px #000031, 0px 0px 0.9px #00004b;
  border: 1.8px solid #00001e;
  height: 19px;
  width: 19px;
  border-radius: 15px;
  background: #ed4042;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: rgba(202, 202, 202, 0.54);
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: rgba(215, 215, 215, 0.54);
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 0.9px 0.9px 1px #000031, 0px 0px 0.9px #00004b;
  border: 1.8px solid #00001e;
  height: 19px;
  width: 19px;
  border-radius: 15px;
  background: #ed4042;
  cursor: pointer;
  height: 5px;
}
input[type=range]:focus::-ms-fill-lower {
  background: rgba(215, 215, 215, 0.54);
}
input[type=range]:focus::-ms-fill-upper {
  background: rgba(228, 228, 228, 0.54);
}
